@font-face {
  font-family: "antique";
  src: url("/assets/fonts/AntiqueOliveRegular.ttf");
}

@font-face {
  font-family: "black-italic";
  src: url("/assets/fonts/SERIBLI_.ttf");
}

@font-face {
  font-family: "sangbleu";
  src: url("/assets/fonts/SangBleuSunriseTrial-MediumItalic.otf");
}

@font-face {
  font-family: "avenir";
  src: url("/assets/fonts/Avenir.ttc");
}

@font-face {
  font-family: "avenir-next";
  src: url("/assets/fonts/Avenir-Next.ttc");
}

html{
	margin:0;
	padding: 0;
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	  background: #FFFFF0;
}

a{
  text-decoration: none !important;
  color: inherit;
}


body{
	margin: 0 auto;
padding: 0 1%;	overflow-x:hidden;
max-width:1800px;
}

/*scrollbar */

::-webkit-scrollbar {
  width: 10px;
  z-index: 75;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFFFF0; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000; 
}

/*about bg styles */

#about-bg{
      background: #FFFFF0;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 150;
      position: fixed;
      overflow: hidden;
      display:none;
}

.default-header{
            background: #FFFFF0;
}

.fixed-about{
  top:0;
  left:0;
    position: fixed;
/*        background: black;
*/}

.fixed-default{
  padding-top: 1vh;
  top:0;
  left:0;
    position: fixed;
/*        background: #FFFFF0;
*/}


/* about page styles */

/*.about-body, .about-header .nav-copy{
  background-color: black;
  color: #FFFFF0 !important;
}*/

.about-arrow{
  opacity: 1;
  width: 1.5vw;
}

.about-content{
  max-width:1800px;
    line-height: 1.25;
    text-align: center;
    width: 80vw;
    margin: 0 10vw;
    }  /*display: flex;
  justify-content: space-between;
}}*/

.about-content{
  padding-top: 15vh;
}

/*.grid{
      padding-top: 12.5vh;

}*/

.about-content p{
    margin: 0 !important;

}

.about-divided{
  margin-top: 10vh;
}

.logo-grid{
  width: 80vw;
/*  margin: 0 10vw;
*/  display: flex;
flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1vh;
}

.logo{
  width: 6vw;
padding-right: 2.5vw;  
margin-top: 4vh;
}

.resume{
  margin-top: 10vh;
}

/* loader screen */

/*.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }*/


#loader-bg{
	  background: #FFFFF0;
	  	z-index: 200;
	  	position: fixed;
	  	overflow: hidden;
}

#loader {
  position: fixed;
/*  z-index: 200;
*/  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*  filter: blur(15px) contrast(30);
*/  background: #FFFFF0;
  	  	width:100vw;
	  	height:100%;
}

.ball {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: 66px center;
  margin-left: 40px;
}

.ball:before {
  content: '';
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-radius: 100%;
}

.ball-1:before{
  background: red;
    opacity: 0.8;
}

.ball-2:before{
  background: blue;
    opacity: 0.8;
}

.ball-3:before{
  background:green;
  opacity: 0.8;
}

.ball-1 {
  margin-left: -50px;
}

.ball-2 {
  margin-left: 25px;
  transform: translateY(-50%) rotate(180deg);
  margin-left: -100px;
  animation: rotate-1 1.5s linear infinite;
  z-index: 2;
}

@keyframes rotate-1 {
  0% {
    margin-left: -18px;
    transform: translateY(-50%) rotate(0deg);
    transform-origin: 66px center;
  }
  25% {
    margin-left: -25px;
    transform: translateY(-50%) rotate(-180deg);
    transform-origin: 66px center;
  }
  50% {
    margin-left: -33px;
    transform: translateY(-50%) rotate(-360deg);
    transform-origin: 66px center;
  }
  50.1% {
    transform-origin: -12px center;
  }
  75% {
    margin-left: -36px;
    transform: translateY(-50%) rotate(-180deg);
    transform-origin: -12px center;
  }
  75.01 {
    margin-left: -66px;
    transform: translateY(-50%) rotate(-180deg);
    transform-origin: -12px center;
  }
  100% {
    margin-left: -18px;
    transform: translateY(-50%) rotate(0deg);
    transform-origin: -12px center;
  }
}

.ball-3 {
  margin-left: 120px;
}

/* filter styles */

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
 
    -webkit-transition-duration: 0.3s ease;
    -moz-transition-duration: 0.3s ease;
    transition-duration: 0.3s ease;
}
/*.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}*/
/*.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}*/

/* body styles */


div{
	display:block;
}


ul{
	list-style: none;
	padding: 0;
	margin:0;
}

.sections li{
	display:inline;
    margin-right: 1vw;
}


footer{
	margin-top: 2%;
}

.nav-logo{
	font-family: "black-italic";
	font-style:italic;
	margin-top: 2vh;
  letter-spacing: 2px;
}

.nav-logo img{
    width:10vw;

}

.sections{
/*	margin-left: -6vw;
*/}

.sections, .sub{
			margin-top: 3.5vh;
}


.sub-work{
}

.role{
  display:none;
}

.filters li:hover{
	cursor:pointer;
}

.flexcopy{
display:flex;
justify-content: space-between;
	z-index: 100;
padding-bottom: 2vh;
align-items: flex-start;
}

.flexnav{
  width:98%;
  padding: 0 1%;
  z-index: 150;
padding-bottom: 2vh;

}


.nav-copy{
		max-width: 1800px;
    margin: auto;
     display:flex;
justify-content: space-between;
align-items: flex-start;
}

h1{
/*	font-size: 1em;
*/	font-style:normal;
	font-weight: normal;
	margin: 0;
}
.current {
/*    content: "■";
    margin-right: .75vw;*/
    font-weight: 700;
}

.block{
	position:static !important;
	display: block ;
}

.block:first-child{
    margin-top: 12.5vh;
}

.fancylink{
	    left:0;
    top:0;
    height:100%;
    width:100%;
    margin-left: 0%;
	position:absolute; 
}


.video{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-frame{
    position:absolute;
    display: flex;
    flex-direction:column;
}

.video-frame{
    left:0;
    top:0;
    height:100%;
    width:100%;
    margin-left: 0%;
}

.video-frame iframe{
width:100%;
height: 100%;
}

.video-frame img{
  width:110%;
height: auto;
transform: translateX(-5%)translateY(-5%);
}

.video-copy{
	z-index: 100;
margin-top:2vh;
}

#video{
  transition: filter 0.3s linear;
}

#arrow{
opacity: 0;
transition: opacity 0.3s linear;}

#grid-item:hover #arrow{
  opacity: 1;
}

#grid-item:hover #video{
  cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.91) 0px 0px 25px 1px;
}

#video{
      transition: box-shadow 1s;
}

.bottom-padding{
	margin-bottom: 12.5vh;
}

.arrow{
	width: 1vw;
}

.video-title{
	font-size: 1.1em;
		font-weight: 700;
}


@media only screen and (max-width: 1300px) {

}


@media only screen and (max-width: 1000px) {

.nav-logo img{
    width:15vw;
}


.about-divided, .resume{
  margin-top: 7.5vh;
}

.sections li{
  display:block;
}

  .nav-logo{
    margin-right:0;
  }

  .nav-logo{
  margin-top: 1vh;
}

.logo{
  width: 10vw;
  margin-right: 3.5vw;
  margin-top: 3vh;
}

.sections{
  margin-left: 0;
}

.sections, .sub{
      margin-top: 1.5vh;
}


.sub-work{
  margin-right: 1vh;
}


/*.width-98{
    width: 98%;
    margin: 0 1%;
    max-width: 1800px;
}*/

.arrow{
  width: 1.5vw;
}

.about-content{
    padding-top: 20vh;
}

/*.grid{
    padding-top: 15vh;
    }*/

.about-arrow{
  margin-left: .5vw;
}

}

@media only screen and (max-width: 800px) {

.logo{
  width: 15vw;
  margin-right: 3.5vw;
  margin-top: 3vh;
}

.nav-logo img{
    width:25vw;
}

#arrow{
opacity: 1;
}

.block:first-child{
    margin-top: 18vh;
}

}


