			<a class="nav-logo" href="#" onclick="hide()"><img src="{{site.url}}/assets/TBlogo.png"></a>

			<div class="sections filters filter-button-group">
				<ul>
			<li data-filter="*" class="current" onclick="hide()"><a href="#">All Work</a></li>
			<li data-filter=".Editor" class="sub-work" onclick="hide()"><a href="#">Editor</a></li>
			<li data-filter=".Colorist" class="sub-work" onclick="hide()"><a href="#">Colorist</a></li>
			<li data-filter=".Director" class="sub-work" onclick="hide()"><a href="#">Director</a></li>
		</ul>
		</div>
		<div  class="sub">
			<a href="#" id="about-nav" onclick="display()">About</a>
		</div>
